body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative; }

.maingreencolor {
  color: #21bc0a; }

.header1 {
  border-bottom: 1px solid #b5b5b2; }

.header2 {
  display: none;
  position: relative;
  z-index: 1; }

.mainlink, .barbutto, .bestreciplink {
  color: #b5b5b2;
  text-decoration: none;
  text-align: center; }

.mainlink:hover, .barbutto:hover, .bestreciplink:hover {
  color: #21bc0a;
  text-decoration: none; }

.fab {
  margin-right: 50px; }

.fa-bars {
  font-size: 30px; }

.ulposition {
  width: 80%;
  position: relative;
  left: 5%; }
  .ulposition .nav-item {
    margin-right: 20px; }

.mainlinkbutt {
  color: black;
  text-decoration: none; }

.mainlinkbutt:hover, .carouselbutt, .foodtypebutt, .fullbutt, .toplink, .mainlinkbutt:active, .actived {
  background-color: #21bc0a;
  border-bottom: 3px solid #056e05;
  color: white; }

.dropdown1, .dropdown12 {
  position: relative; }

.dropdownmenu, .dropdownmenu2, .dropdownmenu3 {
  position: absolute;
  width: 200px;
  text-align: center;
  padding: 10px;
  display: none;
  background-color: #f4f2f3;
  box-shadow: 5px 5px 12px black;
  animation-name: anidrop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards; }

@keyframes anidrop {
  from {
    left: 100px; }
  to {
    left: 0px; } }
.dropdownmenu2 {
  left: 70px;
  width: auto;
  top: 20px; }

.dropdownmenu3 {
  width: 95%;
  left: 0;
  height: auto;
  padding: 20px; }

.navitemdrop3 {
  width: 90%;
  margin: 0; }

#searchbox {
  position: absolute;
  top: -100px;
  display: none; }

.searchback {
  background-color: #21bc0a;
  width: 100%; }

.searchclose {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  border-width: 0;
  color: white; }

.barbutto {
  margin: 25px 25px 0 25px; }

.header3 {
  display: none; }

.smallnav {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 250px;
  height: 730px;
  padding: 10px;
  background-color: #f4f2f3;
  box-shadow: 5px 5px 12px black;
  display: none;
  overflow-y: scroll;
  animation-name: smallnavani;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .smallnav .nav-item {
    margin-bottom: 20px; }

@keyframes smallnavani {
  from {
    left: -200px; }
  to {
    left: 0px; } }
.dropdownmenusm1, .dropdownmenusm2, .dropdownmenusm3 {
  position: relative;
  display: none; }

.carouselback, .foodtypeback, .bestrecipeback, .fullback, .subscribeback {
  background-clip: border-box;
  background-origin: border-box;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  padding: 40px; }
  .carouselback .animacaro, .foodtypeback .animacaro, .bestrecipeback .animacaro, .fullback .animacaro, .subscribeback .animacaro {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 25px 50px 25px;
    border-left: 3px solid #21bc0a;
    width: auto;
    height: auto;
    animation-name: divcarousel;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: backwards; }
@keyframes divcarousel {
  from {
    top: 40%; }
  to {
    top: 0; } }
.carouselbutt, .foodtypebutt, .fullbutt, .toplink {
  color: white;
  padding: 15px; }

.carouselbutt:hover, .foodtypebutt:hover, .fullbutt:hover, .toplink:hover {
  color: white;
  text-decoration: none;
  background-color: #056e05;
  border-bottom-color: #21bc0a; }

.foodtypeback {
  height: auto;
  margin: 20px; }

.bestrecipeback {
  height: 250px;
  border-bottom: 3px solid #21bc0a; }

.bestreciplink {
  color: black; }

.rating-stars {
  color: goldenrod; }

.fullback {
  color: white; }

.fullbutt {
  margin: 30px; }

.media img {
  width: 90px;
  height: 90px; }

.mediabod {
  line-height: 8px; }
  .mediabod p {
    font-size: 10px;
    margin: 7px 0 7px 0; }
  .mediabod .seccolor {
    color: #b5b5b2; }

.fflex1 {
  border: 5px solid #21bc0a;
  height: 100%;
  padding: 10px; }
  .fflex1 p, .fflex1 h4 {
    text-align: center; }

.overflow {
  overflow: hidden;
  margin-bottom: 20px; }

.subscribeback {
  height: 100%;
  color: white; }
  .subscribeback p {
    font-size: 12px; }

.Subscripelink {
  background-color: #21bc0a;
  color: white;
  border: 0px solid transparent;
  border-left: 5px solid #056e05;
  padding: 10px; }

.subtext {
  height: 50px;
  font-size: 12px;
  padding-left: 15px;
  border: 0px solid transparent;
  border-left: 2px solid #056e05;
  border-left: 5px solid #056e05; }

.instagramimg {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden; }
  .instagramimg .img1 {
    height: 100%;
    width: 100%;
    position: absolute; }

.instagramimg:hover .img1 {
  transform: scale(1.3, 1.3); }

.hovli {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-decoration: none; }
  .hovli .insta {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%; }

.hovli:hover {
  background-color: rgba(33, 188, 10, 0.5);
  color: white;
  text-decoration: none; }
  .hovli:hover .insta {
    display: block; }

.toplink {
  position: fixed;
  bottom: 12%;
  right: 5%;
  border-radius: 50%;
  display: none; }

/*# sourceMappingURL=restaurant.scss.map */

/*# sourceMappingURL=restaurant.css.map */
